<nz-layout class="app-layout">
  <nz-sider
    nzCollapsible
    nzWidth="256px"
    [nzBreakpoint]="isSmallScreen ? 'sm' : 'lg'"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzCollapsedWidth]="isSmallScreen ? 0 : 80"
    class="menu-sidebar"
  >
    <app-sider [isCollapsed]="isCollapsed"></app-sider>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-header
        [isCollapsed]="isCollapsed"
        (isCollapsedChange)="isCollapsed = $event"
      ></app-header>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-content class="app-not-support-screen">
  <div class="support-message">
    <p>This screen is not supported. Please use a larger device.</p>
  </div>
</nz-content>
