<div class="sidebar-logo">
  <a href="https://ng.ant.design/" target="_blank">
    <img src="assets/images/systems/logo.png" alt="logo" />
    <h1>Angular Office Hub</h1>
  </a>
</div>
<ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/welcome">Welcome</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a>Monitor</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a>Workplace</a>
      </li>
    </ul>
  </li>
  <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a>Basic Form</a>
      </li>
    </ul>
  </li>
</ul>
